*{ /*apply to everything*/
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    height: 100%;
}

/*                  Class                   */
.navbar {/*  NavBar  */
    text-align: right;
    list-style: none;
    padding: 30px 0px 0px
}
.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: sans-serif;
}
.navbar a:hover {
    text-decoration: underline;
}

.container {/*  Body    */
    text-align:center;
    position: relative;
    justify-content: center;
    padding: 15px;
}
.words {
    font-family: sans-serif;
    margin: auto;
    color: rgb(130, 20, 20)
}
.google {
    float: left;
    color: white;
    font-size: large;
    font-family: sans-serif;
    margin: 0px 15px;
}
.wordsAS {
    padding: 30px 50px;
    font-family: sans-serif;
    margin: auto;
    color: lightcoral;
    font-size: 25px;
}
.searchbar {
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
    width: 500px;
    padding: 10px;
    display: block;
}
.searchbutton {
    color: snow;
    border-color: white;
    background-color: gray;
    border-width: 1px;
    border-radius: 5px;
    width: 130px;
    margin: 20px 10px;
    padding: 10px;
}
.table {
    margin: 45px;
    color: white;
}
.table .searchbar {
    border-radius: 5px;
    margin: 5px;
    background-color: #202124;
    color: white;
}
.table .searchbutton {
    float: right;
    background-color: cadetblue;
}

/*                      ID                          */
#logo {
    width: 600px;
    height: 203px;
    padding-top: 150px;
}